/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

*{
  Font-size: 1em;
  list-style: none;
}

/* .main-nav * {
  list-style:none;
} */

/* Clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
 clear: both;
}

/******************************************
/* LAYOUT
/*******************************************/


header {
  height: 7vh;
  background: black;
}

.main-nav, .secondary-nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-nav {
  color: white;
}

nav span {
  position: absolute;
  right: 15%;
}

header li {
  display: inline-block;
  padding: 0 5px;
}

header li:first-child {
  position: absolute;
  left: 3%;
}

header li:last-child {
  position: absolute;
  right: 3%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
